{% extends(":default:inside_index.html.twig") %}
{% set pageName = "dashboard" %}
{% block dashboardClassMenu %}active{% endblock %}
{% block main %}
    <div class="row">
        wow wow dashboard taki fajny wow wow inżynierka taka prosta wow wow
    </div>
{% endblock %}
{% block scripts %}
    <script>
    </script>
{% endblock %}